/* GENERIC */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #0084fd;
    padding: 20px 0px;
    color: white;
}

.block-content{
    width: 100%;
    border-radius: 20px;
    padding: 25px;
}

/* UTILITY */

.container{
    width: 80%;
    margin: auto;
}

.und-line{
    text-decoration: underline;
}

.txt-center{
    text-align: center;
}

/* HEADER */

.header-flex{
    display: flex;
    justify-content: space-between;
}

/* DEMO APP */

.demo-flex{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px 0px;
}

.demo{
    background-color: #b9dbfe;
}

.clean-code{
    background-color: #caf0db;
    text-align: center;
}

.web-design{
    background-color: #fed2d1;
    text-align: center;
}

.development{
    background-color: #ffe7c3;
    text-align: center;
}

.branding{
    background-color: #d5d4f4;
    text-align: center;
}

/* STRATEGIC PLAN */

.violet-bg{
    background-color: #9692e6;
}

.strategicplan-flex{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 0px;
}

.app-development{
    background-color: white;
}


/* TESTIMONIALS */

.testimonial-flex{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 0px;
}

.nat{
    background-color: #ffbfbf;
}

.celia{
    background-color: #feddaa;
}

.bob{
    background-color: #b2e9ca;
}

.nat img,
.celia img,
.bob img{
    border-radius: 50%;
    width: 150px;
}

/* BENEFIT */